@use '../style/variables' as v;

// 初期設定ーーーーーーーーーーーーーーーーーーーーーーーー

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: v.$cMainColor;
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: v.$cMainFont;
    font-weight: v.$cMainWeight;
    background-color: #ffa425;
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

h1 {
    font-weight: v.$cMainWeight;
}

h2 {
    font-weight: v.$cMainWeight;
    font-size: 2.5rem;
}

p {
    font-weight: v.$cMainWeight;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: v.$cMainColor;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul li {
    list-style: none;
}

.wrapper {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    // text-align: center;

    &__title {
        font-size: 3rem;
        letter-spacing: 1px;
        text-align: center;
        
        &__sub {
            font-size: 1.5rem;
            display: block;
            line-height: 1.5rem;
            text-align: center;
        }   

        &__sub2 {
            font-size: 3.5rem;
            border: 1px solid #fff;
            padding: 5.5px 8px;
            // color: #ffa425;
        }
    }
}

.main {
    padding: 0 4%;
}

.contents {
    padding-top: 100px;
}

.footer {
    margin-top: 50px;
    // text-align: center;
    background-color: rgba(220, 220, 220, 0.6);
    color: v.$cSubColor;

    &__information {
        text-align: left;
        padding: 20px 0px 0px 10px;

        &__text {
            font-size: 1.2rem;
        }
    }
    &__last {
        padding: 10px 0;
        font-size: 1rem;
        text-align: center;
    }
}

// 初期設定終了ーーーーーーーーーーーーーーーーーーーーーー


@include v.mq(lt) {
    .wrapper {
        max-width: 950px;
        margin: 70px auto 0 auto;
    }

    .footer {
        margin-top: 70px;
    }

    .contents {
        max-width: 950px;
        margin: 0 auto;
    }
}
// @include v.mq(tab) {


    
// }