@use '../style/variables' as v;

.service__content {
    position: relative;
    margin: 40px 0px 0px 0px;
    background-color: rgba($color: #e7e7e7, $alpha: .7);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s ;
    // border: 1.5px solid #ffa425;
    // color: #0e0c0c;;

    // &__title {
    //     text-align: center;
    //     background-color: #ffa425;
    //     border-radius: 9px 9px 0 0;
    //     // color: v.$cMainColor;
    // }

    &__englishTitle {
        text-align: center;
        background-color: #ffa425;
        border-radius: 9px 9px 0 0;
        font-size: 2.3rem;
        font-weight: 400;
        padding: 10px 0px 10px 0px;

        & span {
            display: block;
            text-align: center;
            font-size: 1.3rem;
        }
    }

    &__box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 30px 0px 30px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: rgb(220 220 220 / 90%);
        color: v.$cSubColor;
    }

    &__price {
        font-size: 1.8rem;

        & span {
            color: #bc0f0f;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    &__priceDetill {
        display: block;
        text-align: center;
        font-size: 1.3rem;
    }

    &__time {
        font-size: 2.1rem;
    }

    &__free {
        margin: 30px 0px 30px 0px;
        text-align: center;

        &__button {
            padding: 10px 20px;
            background-color: #bc0f0f;
            font-size: 1.8rem;
            font-weight: 400;
            border-radius: 50px;
            transition: .8s;

            &:hover {
                opacity: .7;
            }
        }
    }

    &__additional {
        margin-bottom: 10px;
        font-size: 1.3rem;
        padding-left: 10px;
        color: v.$cSubColor;
    }

    &__explain {
        padding: 0 10px;
        color: v.$cSubColor;
        margin-bottom: 10px;
    }
}

.inView {
    opacity: 1;
    transform: translateY(0px);
}

@include v.mq(lt) {
    .service__contents {
        display: flex;
        justify-content: space-between;
    }

    .service__content {
        margin: 50px 0px 0px 0px;
        width: 48%;

        &__englishTitle {
            font-size: 2.5rem;
        }
        
        
        &__box {
            margin: 30px 30px 0px 30px;
        }

        &__free {
            margin: 50px 0px 50px 0px;
    
            &__button {
                padding: 15px 25px;
                font-size: 2rem;
            }
        }
    }

}